# at first, your virtual environment need install python 3.8
# conda install -c conda-forge notebook  (I use this)  or  pip install notebook
# pip install -r requirements.txt    (because some package conda don't have)
# 下边的包是删减后的，原来网站提供的包中有些和jupyter依赖冲突
chardet
cycler
future
gitdb2
GitPython
idna
imageio
kiwisolver
matplotlib
nbdime
numpy
pexpect
Pillow
ptyprocess
qtconsole
requests
scipy
smmap2
urllib3
widgetsnbextension
